<?xml version="1.0"?>
<launch>
    <!-- args -->
    <arg name="cfg" default="gz"/>
    <param name="/cfg" value="$(arg cfg)"/>

    <arg name="rebuild" default="false"/>
    <param name="/rebuild" value="$(arg rebuild)"/>
    <arg name="vae" default="true"/>
    <arg name="viz_markers" default="true"/>
    <arg name="viz_vae" default="true"/>
    <arg name="viz_2d" default="true"/>
    <arg name="viz_3d" default="false"/>


    <!-- SDF NMPC -->
    <node pkg="sdf_nmpc_ros" type="sdfnmpc_node.py" name="sdfnmpc_node" output="screen" launch-prefix="taskset -c 0-1"/>

    <!-- reference generator -->
    <node pkg="sdf_nmpc_ros" type="ref_gen_node.py" name="ref_gen_node" output="screen" launch-prefix="taskset -c 2"/>

    <!-- VAE -->
    <node if="$(arg vae)" pkg="sdf_nmpc_ros" type="vae_node.py" name="vae_node" output="screen" launch-prefix="taskset -c 3"/>

    <!-- visualization -->
    <node if="$(arg viz_markers)" pkg="sdf_nmpc_ros" type="viz_markers_node.py" name="viz_markers_node" output="screen"/>
    <node if="$(arg viz_vae)" pkg="sdf_nmpc_ros" type="viz_vae_node.py" name="viz_vae_node" output="screen"/>
    <include if="$(arg viz_2d)" file="$(find sdf_nmpc_ros)/launch/viz_2d.launch">
        <arg name="cfg" value="$(arg cfg)"/>
    </include>
    <include if="$(arg viz_3d)" file="$(find sdf_nmpc_ros)/launch/viz_3d.launch">
        <arg name="cfg" value="$(arg cfg)"/>
    </include>
</launch>
