<?xml version="1.0"?>
<launch>
    <!-- args -->
    <arg name="viz_markers" default="true"/>
    <arg name="viz_vae" default="true"/>
    <arg name="viz_2d" default="true"/>
    <arg name="viz_3d" default="false"/>
    <arg name="viz_pc" default="true"/>

    <!-- viz nodes -->
    <node if="$(arg viz_markers)" pkg="sdf_nmpc_ros" type="viz_markers_node.py" name="viz_markers_node" output="screen"/>
    <node if="$(arg viz_vae)" pkg="sdf_nmpc_ros" type="viz_vae_node.py" name="viz_vae_node" output="screen"/>
    <include if="$(arg viz_2d)" file="$(find sdf_nmpc_ros)/launch/viz_2d.launch"/>
    <include if="$(arg viz_3d)" file="$(find sdf_nmpc_ros)/launch/viz_3d.launch"/>
    <include if="$(arg viz_pc)" file="$(find sdf_nmpc_ros)/launch/viz_pc.launch"/>

    <!-- joystick -->
    <include file="$(find joystick_remapper)/launch/joystick_remapper.launch"/>

    <!-- rviz -->
    <node type="rviz" name="rviz_nmpc" pkg="rviz" args="-d $(find sdf_nmpc_ros)/rviz/nmpc_lmf.rviz" />
</launch>
