<?xml version="1.0"?>
<launch>
    <arg name="cfg" default="gz"/>
    <arg name="tol" default="2.5e-2"/>
    <arg name="nb_points" default="50000"/>
    <arg name="cores" default="0"/>

    <param name="/cfg" value="$(arg cfg)"/>
    <param name="/tol" value="$(arg tol)"/>
    <param name="/nb_points" value="$(arg nb_points)"/>

    <node pkg="sdf_nmpc_ros" type="viz_sdf_3D_node.py" name="viz_sdf_3D_node" output="screen"/>
</launch>
