<?xml version="1.0"?>
<launch>
    <arg name="tol" default="1e-2"/>
    <arg name="nb_points" default="10000"/>

    <param name="/tol" value="$(arg tol)"/>
    <param name="/nb_points" value="$(arg nb_points)"/>

    <node pkg="sdf_nmpc_ros" type="viz_sdf_2D_node.py" name="viz_sdf_2D_node" output="screen"/>
</launch>
